*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #aaff39;
    --light-color: #ece8e1;
    --dark-color: #444;
}
@font-face{
    font-family: "Valo";
    src: url("./fonts/Valorant\ Font.ttf") format("truetype");
}
@font-face{
    font-family: "Adam-Bold";
    src: url("./fonts/Adam-Bold.ttf") format("truetype");
}
@font-face{
    font-family: "Adam-Light";
    src: url("./fonts/Adam-Light.ttf") format("truetype");
}
@font-face{
    font-family: "Adam-Medium";
    src: url("./fonts/Adam-Medium.ttf") format("truetype");
}

body{
    overflow: hidden;
}
.logo{
    width: 60px;
    transform: scaleX(1.2);
}
.landing-page{
    /* background:linear-gradient(110deg, rgba(3,3,3,0.5) 60%, var(--primary-color) 40%), url("./images/ffflurry.svg");
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 10rem;
    gap: 2rem; */
    position: fixed;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

img{
    width: 100%;
}


.landing-page .content{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.landing-page .content .top-section{
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 15rem 0 0 7rem;
    gap: 2rem;
    height: 100%;
}
.landing-page .content .top-section #header{
    font-family: "Adam-Bold";
    font-size: 7rem;
}
.landing-page .content .top-section p{
    font-family: "Adam-Medium";
    font-size: 1.6rem;
    letter-spacing: 2px;
}

.landing-page .content .bottom-section {
    color: #fff;
}

#arc{
    color: var(--primary-color);
}
.video{
width: 100%;

}
